In [1]:
import mysql.connector  as connection
import pandas as pd
from datetime import datetime

In [2]:
mydb = connection.connect(host="localhost", database = 'mavenfuzzyfactory',user="sammy", passwd="password",use_pure=True) 
products = "Select * from products;"
products_df = pd.read_sql(products,mydb)

/tmp/ipykernel_109277/294956736.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products_df = pd.read_sql(products,mydb)

In [65]:

mydb = connection.connect(host="localhost", database = 'mavenfuzzyfactory',user="sammy", passwd="password",use_pure=True) 

products = "Select * from products;"
products_df = pd.read_sql(products,mydb)

orders = "Select * from orders;"
orders_df = pd.read_sql(orders,mydb)

refunds = "Select * from order_item_refunds;"
refunds_df = pd.read_sql(refunds,mydb)

order_items = "Select * from order_items;"
order_items_df = pd.read_sql(order_items,mydb)

website_page_view = "Select * from products;"
website_page_view_df = pd.read_sql(website_page_view,mydb)

website_page_session= "Select * from products;"
website_page_session_df = pd.read_sql(website_page_session,mydb)

/tmp/ipykernel_109277/1512843305.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products_df = pd.read_sql(products,mydb)
/tmp/ipykernel_109277/1512843305.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders_df = pd.read_sql(orders,mydb)
/tmp/ipykernel_109277/1512843305.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  refunds_df = pd.read_sql(refunds,mydb)
/tmp/ipykernel_109277/1512843305.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  order_items_df = pd.read_sql(order_items,mydb)
/tmp/ipykernel_109277/1512843305.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  website_page_view_df = pd.read_sql(website_page_view,mydb)
/tmp/ipykernel_109277/1512843305.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  website_page_session_df = pd.read_sql(website_page_session,mydb)

# 1

In [66]:
products_df.head()

   product_id          created_at                product_name
0           1 2012-03-19 08:00:00      The Original Mr. Fuzzy
1           2 2013-01-06 13:00:00       The Forever Love Bear
2           3 2013-12-12 09:00:00    The Birthday Sugar Panda
3           4 2014-02-05 10:00:00  The Hudson River Mini bear

In [67]:
orders_df.head()

,order_id,created_at,website_session_id,user_id,primary_product_id,items_purchased,price_usd,cogs_usd
0,1,2012-03-19 10:42:46,20,20,1,1,49.99,19.49
1,2,2012-03-19 19:27:37,104,104,1,1,49.99,19.49
2,3,2012-03-20 06:44:45,147,147,1,1,49.99,19.49
3,4,2012-03-20 09:41:45,160,160,1,1,49.99,19.49
4,5,2012-03-20 11:28:15,177,177,1,1,49.99,19.49

In [68]:
refunds_df.head()

,order_item_refund_id,created_at,order_item_id,order_id,refund_amount_usd
0,1,2012-04-06 11:32:43,57,57,49.99
1,2,2012-04-13 01:09:43,74,74,49.99
2,3,2012-04-15 07:03:48,71,71,49.99
3,4,2012-04-17 20:00:37,118,118,49.99
4,5,2012-04-22 20:53:49,116,116,49.99

In [69]:
order_items_df.head()

,order_item_id,created_at,order_id,product_id,is_primary_item,price_usd,cogs_usd
0,1,2012-03-19 10:42:46,1,1,1,49.99,19.49
1,2,2012-03-19 19:27:37,2,1,1,49.99,19.49
2,3,2012-03-20 06:44:45,3,1,1,49.99,19.49
3,4,2012-03-20 09:41:45,4,1,1,49.99,19.49
4,5,2012-03-20 11:28:15,5,1,1,49.99,19.49

In [70]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32313 entries, 0 to 32312
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            32313 non-null  int64
 1   created_at          32313 non-null  datetime64[ns]
 2   website_session_id  32313 non-null  int64
 3   user_id             32313 non-null  int64
 4   primary_product_id  32313 non-null  int64
 5   items_purchased     32313 non-null  int64
 6   price_usd           32313 non-null  float64
 7   cogs_usd            32313 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5)
memory usage: 2.0 MB

# 1

In [23]:
orders_df[orders_df['created_at']>=datetime(2012,9,21)][orders_df['created_at']<datetime(2012,9,22)]['price_usd'].sum()

/tmp/ipykernel_109277/2113556688.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  orders_df[orders_df['created_at']>=datetime(2012,9,21)][orders_df['created_at']<datetime(2012,9,22)]['price_usd'].sum()

549.89

# 2

In [106]:
merged_1 = pd.merge(order_items_df , products_copy , how='left', on='product_id')
merged_1[merged_1['created_at']>=datetime(2013,3,1)][merged_1['created_at']<datetime(2013,4,1)].value_counts('product_name').sort_values(ascending=False).index[0]#.groupby('product_name').count()

/tmp/ipykernel_109277/193261157.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged_1[merged_1['created_at']>=datetime(2013,3,1)][merged_1['created_at']<datetime(2013,4,1)].value_counts('product_name').sort_values(ascending=False).index[0]#.groupby('product_name').count()

'The Original Mr. Fuzzy'

# 3

In [123]:
orders_df[orders_df['items_purchased']==2].groupby('user_id').count().shape[0]

7644

# 4
4. total amount of money refunded in may 2012

In [161]:
refunds_df[refunds_df['created_at']>=datetime(2012,5,1)][refunds_df['created_at']<datetime(2012,6,1)]['refund_amount_usd'].sum()

/tmp/ipykernel_109277/322907094.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  refunds_df[refunds_df['created_at']>=datetime(2012,5,1)][refunds_df['created_at']<datetime(2012,6,1)]['refund_amount_usd'].sum()

249.95000000000002

# 5

In [162]:
merged_4 = pd.merge(refunds_df , order_items_df , how='left', on='order_item_id')
merded_4_2 = pd.merge(merged_4 , products_df , how = 'inner' , on='product_id')
merded_4_2['product_name'].value_counts().sort_values( ascending=False)#.index[0]

The Original Mr. Fuzzy        1237
The Birthday Sugar Panda       301
The Forever Love Bear          129
The Hudson River Mini bear      64
Name: product_name, dtype: int64